body{
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: auto;
  padding:auto;
}
main{
  min-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.header{
  align-items:center;
  border: 5px solid rgb(95, 92, 92);
  border-radius: 8px;
  margin: 0 5px 0 5px;
  padding: 0 15px 0 15px;
  min-width:30%;
  max-width: 35%;
}
h1{
  border: 5px solid rgb(95, 92, 92);
  border-radius: 8px;
  margin: 20px 5px 20px 5px;
  padding: 0 15px 0 15px;
}
.card-container{
  justify-content: center;
  background-color:rgb(212, 203, 193); 
  border: 5px solid rgb(95, 92, 92);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 5px;
    /* flex-direction: column; */
}
.card{
  align-items: center;
  background-color: rgb(245, 243, 235);
  border: 5px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 10px 5px 10px 5px;
  width: 180px;
  height: 334px;
}
.card-img{
  border: 5px solid green;
  border-radius: 8px;
  width: 90%;
}
.card-info{
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: -40px;
  padding-left: 0 0 10px 0;
}
.card-header{
  font-size: 22px;
}
.card-description{
  font-size: 16px;
  color:gray;
}
#view-profile #Add-Profile{
  background-color: gray;
  border: 2px solid gray;
  border-radius: 5px;
  color: aliceblue;
  padding: 3px 6px 3px 6px;
}
#add-profile-form{
  align-items: center;
  background-color: gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 4px;
}
#input-name, #input-org{
  border-radius: 5px; 
  margin: 4px;
  padding: 3px;
  width: 260px;
}
#view-profile:hover {
  cursor: pointer;
}
#Add-Profile:hover{
  cursor: pointer;
}
.footer{
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}
span{
  font-weight: bold;
}
.link{
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  color: cornsilk;
  margin: 3px;
  padding: 0 10px 0 10px;
  /* text-decoration: none; */
  text-decoration: none;
}

a:link {
  color: cornsilk;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: cornsilk;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: cornsilk;
  font-weight: 700;
  text-decoration: none;
}

a:active {
  color: cornsilk;
  font-weight: 700;
  text-decoration: none;
}